@charset "utf-8";

* { margin: 0; padding: 0; }

a:hover { background-color: #f9f9f9; }
body { padding: 20px; }
ul, ol { margin-left: 1.5em; }
ul > li, ol > li { margin: 0.25em 0; }
h1 { margin-bottom: 0.25em; 0; }

#preamble { text-align: center; }
#postamble { margin-top: 1em; text-align: center; font-style: italic; }

#content { max-width: 80ch; margin: 0 auto; }
#content > ul.nav { margin-bottom: 20px; }
#content p { margin: 1em 0; line-height: 1.5em; }

#content .listing-number,
#content .figure-number { display: none; }

#content h2,
#content h2,
#content h4 { margin: 0.5em 0; }

#content .outline-2,
#content .outline-3,
#content .outline-4 { margin: 1em 0; }

#footnotes .footdef { margin: 1em 0; }
#footnotes .footpara { margin: 0; }

p > code { padding: 0.5em; }
code {
  background-color: #f9f9f9;
  font-family: monospace;
}

pre {
  margin: 10px 0;
  padding: 16px;
  border-radius: 4px;
  background-color: #f9f9f9;
  overflow: auto;
}

figure {
  margin: 42px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure img {
  width: 100%;
  object-fit: cover;
}
figure figcaption {
  margin-top: 1em;
}

blockquote {
  margin: 1em 2em;
  border-left: 2px solid #000000;
  text-align: justify;
}
blockquote p {
  margin: 0;
  padding: 0 1em;
}

table tr { text-align: left; }
table td, table th { padding: 0 10px; }
