* { margin:0; padding:0; }

body {
    padding: 2em;
    font-size: 100%;
    line-height: 160%;
    color: #073642;
    background-color: #fdf6e3;
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 { color: #657b83; }
h1 { font-size: 1.5rem; }
h2 { font-size: 1.2rem; }
a { text-decoration: none; }
p strong { color: #cb4b16; }
p code { color: #657b83; }

/* Masthead / Logo */
.masthead { margin-bottom: 2em; }

.logo {
    color: #657b83;
    font-size: 2em;
}

/* Sidebar  Navigation */
.menu li {
    list-style: none;
    display: inline-block;
    margin: 0.2em 0.8em 0.2em 0.2em;
}

.menu a {
    text-decoration: none;
    color: #657b83;
    font-size: 1.2em;
}

/* Main Content */
.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.blog-content { margin-top: -4rem; }

.content p {
    font-size: 120%;
    margin: 1em 0;
}

.content p:first-child, .content p:last-child { margin: 0; }

.content h2 { margin-top: 1rem; }
.content header { margin-bottom: 1rem; }
.title { text-align: center; }
.timestamp { text-align: right; }

.content a:visited { color: #6c71c4; }
.content p a, .title a{ color: #268bd2; }
.content p a { text-decoration: underline; }

.content h2 a {
    color: #657b83;
    text-decoration: underline;
    font-weight: normal;
}

a:hover {
    background-color: #eee8d5;
    padding: 0.2em 0 0.1em 0;
}

.gravatar {
    border-radius: 50%;
    text-align: center;
    margin-bottom: 0.5em;
}

img.gravatar { width: 200px; height: 200px; }

/* Site Footer */
footer {
    margin-top: 2em;
    text-align: center;
}

footer, footer a { color: #657b83; }

/* Source Code */
div.sourceCode, .example {
    margin: 0.4em auto;
    padding: 0.4em;
    line-height: 100%;
    overflow: scroll;
    font-family: monospace;
}

pre.sourceCode, .example { color: #d3d0c8; }
.sourceCode { background-color: #2d2d2d; }
.example { background-color: #747369; }
.sourceCode .co { color: #a09f93; }
.sourceCode .st {  color: #99cc99; }

/* Add markdown syntax to content */
/* p strong:before { content:'*'; }
p strong:after { content: '*'; }
p em:before { content: '_'; }
p em:after { content: '_'; }
p code::before { content: '`'; }
p code::after { content: '`'; } */
