<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="description" content="{{.Meta}}">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <header class="masthead"><a class="logo" href="/">Adam Schwartz</a>
      <nav class="menu">
        <ul>
          <li><a href="blog">Blog</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="https://github.com/anschwa">GitHub</a></li>
        </ul>
      </nav>
    </header>
    <section class="content">
      <h1>About</h1>
      <p class="gravatar"><img class="gravatar" src="me.jpg"></p>
      {{.Body}}
      <h2>Books</h2>
      <p>I'm currently reading <cite>{{.Book.Title}},</cite> by {{.Book.Author}}.</p>
      <p>Check out the complete <a href="https://github.com/anschwa/books">list of books</a> I've read since high school.</p>
    </section>
    {{template "footer"}}
  </body>
</html>
